:root{
    --maincont:blue;
    --texts: white;
    --maincolor: skyblue;
    --secondcolor:rgb(102, 241, 241) ;
    --border:rgb(87, 86, 86);
    --btnSub:blue;
    --boxshadow:rgb(164, 197, 123);
}
